<nav>
  <div class="nav-wrapper center-align">
    <ul id="nav-mobile" class="hide-on-med-and-down">
      <li>Game: {{game?._id}}</li>
      <li>Players: {{game?.numPlayers}}</li>
      <li>Dice in play: {{game?.numDice}}</li>
      <li>Current Player: {{game?.currentPlayer?.number}}</li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="center-align">
    <ul id="playerInfo">
      <li *ngFor="let player of game?.players"><b>Player {{player.number}}</b> claims:
        <ul>
          <li class="chip" *ngFor="let claim of player.claims; let ci = index" [ngClass]="{strike: ci > 0}">
            There <span *ngIf="claim.claimNumber > 1">are</span><span *ngIf="claim.claimNumber < 2">is</span> {{claim.claimNumber}} {{claim.claimFace}}
            <span *ngIf="claim.claimNumber > 1">'s</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="divider"></div>

<div class="row">
  <div id="gameBoard" class="center-align">
    <ul id="diceOnBoard">
      <li *ngFor="let boardDie of game?.board">
        <figure>
          <div>
            <img src="../../assets/die_face_{{boardDie}}.svg" alt="Dice with #{{boardDie}}">
          </div>
        </figure>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div id="claimArea" *ngIf="game?.currentClaim">
    <div class="center-align">
      <h4>Player {{game?.currentClaim.player + 1}} claims that there <span *ngIf="game?.currentClaim.claimNumber > 1">are</span>
        <span *ngIf="game?.currentClaim.claimNumber < 2">is</span> {{game?.currentClaim.claimNumber}} {{game?.currentClaim.claimFace}}
        <span *ngIf="game?.currentClaim.claimNumber > 1">'s</span>
      </h4>
    </div>
    <div class="center-align">
      <a class="btn btn-large red" (click)="challenge()">Challenge The Claim!</a>
    </div>
  </div>
  <div id="playerHand" class="center-align" *ngIf="game?.currentPlayer?.number !== 0">
    <h3>Player {{game?.currentPlayer?.number}}</h3>
    <br>
    <div class="row">
      <div class="center-align">
        <ul id="diceInHand">
          <li *ngFor="let die of game?.currentPlayer?.hand; let i = index">
            <figure>
              <div (click)="dieForBoard = die">
                <img src="../../assets/die_face_{{die}}.svg" alt="Dice with #{{die}}" [ngClass]="{selected: dieForBoard == die}">
              </div>
            </figure>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="center-align">
        <a class="btn" [ngClass]="{disabled: dieSubmitted}" (click)="submitDieToBoard(dieForBoard)">Place Selected Die on Board</a>
      </div>
    </div>
    <div class="row">
      <div class="center-align" id="biddingArea">
        <form (ngSubmit)="makeClaim(claimAmount, claimValue)" #claimForm="ngForm">
          <label for="bidDiceAmount"># of Dice</label>
          <input class="validate" type="number" id="bidDiceAmount" name="bidDiceAmount" min="0" required [(ngModel)]="claimAmount">
          <label for="bidDiceValue">Dice Value</label>
          <input class="validate" type="number" id="bidDiceValue" name="bidDiceValue" min="1" max="6" required [(ngModel)]="claimValue">
          <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!claimForm.form.valid">Make Claim</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="changePlayerModal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false, opacity: 1}]" [materializeActions]="changePlayerModal">
  <div class="modal-content">
    <h4>Switching Players</h4>
    <p>
      Click the button below when the next player is ready
    </p>
  </div>
  <div class="modal-footer">
    <a (click)="switchPlayer()" class=" modal-action modal-close waves-effect waves-green btn-flat">Ready!</a>
  </div>
</div>

<div id="invalidClaimModal" class="modal" materialize="modal" [materializeActions]="invalidClaimModal">
  <div class="modal-content">
    <h4>Invalid Claim</h4>
    <p>
      You must make a claim with either a higher amount of die, or a different face value.
    </p>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
  </div>
</div>

<div id="challengeModal" class="modal" materialize="modal" [materializeActions]="challengeModal">
  <div class="modal-content">
    <div id="winner" *ngIf="!accurateClaim">
      <h3 >Congratulations!</h3>
      <p>
        Player {{game?.currentClaim?.player + 1}}'s claim that there <span *ngIf="game?.currentClaim?.claimNumber > 1">are</span>
        <span *ngIf="game?.currentClaim?.claimNumber < 2">is</span> {{game?.currentClaim?.claimNumber}} {{game?.currentClaim?.claimFace}}
        <span *ngIf="game?.currentClaim?.claimNumber > 1">'s</span>
        was incorrect.
      </p>
      <p>
        You won the challenge!
      </p>
    </div>
    <div id="loser" *ngIf="accurateClaim">
      <h3>Sorry, you've lost this game</h3>
      <p>
        Player {{game?.currentClaim?.player + 1}}'s claim that there <span *ngIf="game?.currentClaim?.claimNumber > 1">are</span>
        <span *ngIf="game?.currentClaim?.claimNumber < 2">is</span> {{game?.currentClaim?.claimNumber}} {{game?.currentClaim?.claimFace}}
        <span *ngIf="game?.currentClaim?.claimNumber > 1">'s</span>
        was correct.
      </p>
      <p>
        You did not win this challenge. Redeem yourself on the next game!
      </p>
    </div>
  </div>
  <div class="center-align">
    <ul id="allHands">
      <li>
        <b>Board</b>
        <ul>
          <li *ngFor="let die of game?.board">
            <figure>
              <div>
                <img src="../../assets/die_face_{{die}}.svg" alt="Dice with #{{die}}">
              </div>
            </figure>
          </li>
        </ul>
      </li>
      <li *ngFor="let hand of game?.playerHands; let i = index">
        <b>Player {{i + 1}}'s hand</b>
          <ul>
            <li *ngFor="let die of game?.playerHands[i]">
              <figure>
                <div>
                  <img src="../../assets/die_face_{{die}}.svg" alt="Dice with #{{die}}">
                </div>
              </figure>
            </li>
          </ul>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat" href="#">New Game</a>
  </div>
</div>
